body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: teal;
    padding: 20px;
    margin: 0;
}

header,footer{
    text-align: center;
    margin-bottom: 20px ;
}

header h1{
    font-size: 32px;
    margin-bottom: 20px;
    color:tan;
}

#note-container{
    margin-bottom: 20px ;

}

.note{

    padding:15px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    background-color: #fff;
    font-size: 18px;
    color:black;
    position:relative;
}

.note, .note-controls button{

    margin-top: 30px;
    
}

.note, .note-controls button{

    padding: 5px 10px;
    margin-right: 5px;
    cursor:pointer;
    border:none;
    border-radius: 5px;
    background-color: gray;
    color:#fff;
}

.note .note-controls button :hover{
    background-color: darkgrey;

}

.note.highlight{
    background-color: violet;
    font-style: italic;
}

.note.important{

    background-color: powderblue;
    font-weight: bold;
}

.note.hiddem .note-text{
    display: none;
}

#controls{
    margin-bottom: 20px;
    text-align: center;
}

#controls button{
   
    
    padding: 10px 15px;
    margin-right: 10px;
    cursor:pointer;
    border:none;
    border-radius: 5px;
    background-color: gray;
    color:#fff;

}

#controls button:hover{
    background-color: pink;
}

footer p{
    color:beige;
    font-size: 14px;
}